# ignore all files in /alrisDistortionFit/PBCO/results
/PBCO/results/
/__pycache__
# ignore all .npz files everywhere
**/*.npz
**/__pycache__/
#mac junk
.DS_Store
._.DS_Store
**/.DS_Store
**/.DS_Store

#ignore cursor rules
.cursor/rules/